.contacts {
  background: linear-gradient(rgba(47, 50, 75, 0.85), rgba(47, 50, 75, 0.85)) , url('../img/man.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__title {
  margin-bottom: 18px;
  transform: translateX(-12px);
}

.contacts__descr {
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.contacts__form {
  margin: 0 auto;
}

.call-form {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.call-form__inner {
  border: none;
  padding: 0;
  margin-bottom: 50px;
  max-width: 423px;
}

.call-form__input {
  border: 1px solid var(--white-color);
  border-radius: 50px;
  padding: 9px 25px;
  margin-bottom: 21px;
  width: 100%;
  height: 44px;
  background-color: transparent;
  caret-color: var(--white-color);
}

.call-form__input:last-child {
  margin-bottom: 0;
}

.call-form__input::placeholder {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  transition: opacity 0.2s ease-in-out;
}

.call-form__input:focus-visible {
  outline: 2px solid var(--accent-light-color);
  outline-offset: 2px;
}

.call-form__input:focus-visible::placeholder {
  opacity: 0;
}

.call-form__btn {
  padding: 13px 38px;
  margin-bottom: 50px;
}

@media (min-width: 1025px) {
  .call-form__btn:hover {
    background-color: var(--accent-dark-color);
  }
}

.call-form__btn:focus-visible {
  outline: 2px solid var(--accent-light-color);
  outline-offset: 2px;
}

.call-form__btn:active {
  background-color: var(--accent-light-color);
}

.contacts__agreement {
  font-size: 20px;
  line-height: 24px;
}

.contacts__link {
  border-bottom: 1px solid currentColor;
  color: #4a76a8;
}

@media (min-width: 1025px) {
  .contacts__link:hover {
    color: var(--accent-dark-color);
  }
}

.contacts__link:focus-visible {
  border-radius: 10px;
  outline: 2px solid var(--accent-light-color);
  outline-offset: 2px;
}

.contacts__link:active {
  color: var(--accent-light-color);
}

@media (max-width: 1024px) {
  .contacts {
    padding-bottom: 55px;
  }

  .contacts__title {
    margin-bottom: 16px;
    transform: translateX(-5px);
  }

  .contacts__descr {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 23px;
    transform: translateX(8px);
  }

  .call-form__inner { 
    max-width: 377px;
  }

  .call-form__input {
    padding: 8px 23px;
    height: 39px;
  }

  .call-form__input::placeholder {
    font-size: 20px;
  }

  .call-form__btn {
    margin-bottom: 30px;
  }

  .contacts__agreement {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .contacts__descr {
    font-size: 18px;
  }

  .contacts__agreement {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .contacts {
    padding-bottom: 30px;
  }

  .contacts__title {
    margin-bottom: 14px;
    transform: translateX(-2px);
  }

  .contacts__descr {
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 14px;
    transform: none;
  }

  .call-form__inner { 
    max-width: none;
    margin-bottom: 45px;
  }

  .call-form__input {
    padding: 6px 16px;
    margin-bottom: 15px;
    height: 28px;
  }

  .call-form__input::placeholder {
    font-size: 14px;
  }

  .call-form__btn {
    padding: 9px 29px;
  }

  .contacts__agreement {
    font-size: 11px;
    line-height: 13px;
  }
}