.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #2f324b;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copy {
  display: flex;
  align-items: center;
}

.footer__logo {
  margin-right: 19px;
}

.copyright {
  display: inline-block;
  max-width: 127px;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

.footer__author {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 38px;
    padding-bottom: 49px;
  }

  .footer__author {
    transform: translateX(-12px);
  }
}

@media (max-width: 768px) {
  .footer__container {
    flex-wrap: wrap;
  }

  .footer__author {
    order: 1;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding-top: 23px;
    padding-bottom: 15px;
    background-image: linear-gradient(to bottom, #2f324b 60%, #2a2c3f 40%);
  }

  .call-me {
    align-self: start;
    padding-top: 5px;
  }

  .footer__copy {
    margin-bottom: 40px;
    font-size: 8px;
    line-height: 11px;
  }

  .copyright {
    max-width: 90px;
    font-size: 8px;
    line-height: 11px;
  }

  .footer__author {
    transform: none;
  }
}
